@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}



.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: slategray black;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;

}

.scrollbar::-webkit-scrollbar-track {
    background: slategray;
    border-radius: 150px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 150px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: darkgray;
    border-radius: 150px;
}


/* Cursor */
/* globals.css */
@keyframes cursorAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


body {
    cursor: url('/pointer.svg')12 12, auto;

    font-family: "Comfortaa", sans-serif;







    /* animation: cursorAnimation 1s infinite; */
}